<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      th:rel="stylesheet"
      th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css} "
    />
  </head>

  <body>
    <div class="container">
      <div class="col-md-6">
        <h1>Forget Password</h1>
        <div th:if="${forgetpasswordError}" class="alert alert-danger">
          <p th:text="${forgetpasswordError}">
            Invalid Forget Password attempt
          </p>
        </div>
        <form
          action="#"
          th:action="@{/verify}"
          th:object="${user}"
          method="POST"
        >
          <div class="form-group">
            <label for="username">Username</label>
            <input
              class="form-control"
              type="text"
              th:field="*{username}"
              id="username"
              placeholder="Username"
            />
            <label for="email">Email</label>
            <input
              class="form-control"
              type="text"
              th:field="*{email}"
              id="email"
              placeholder="Add a Email"
            />
          </div>

          <button type="submit" class="btn btn-success">Verify</button>
        </form>
        <div>
          <p>
            <a
              class="btn btn-success"
              style="margin-top: 12px"
              href="/user-login"
              >Login</a
            >
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
