<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      th:rel="stylesheet"
      th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css} "
    />
  </head>

  <body>
    <div class="container">
      <div class="col-md-6">
        <h1>Reset Password</h1>
        <div th:if="${resetPasswordError}" class="alert alert-danger">
          <p th:text="${resetPasswordError}">Invalid Reset Password Attempt</p>
        </div>
        <form
          action="#"
          th:action="@{/resetpassword}"
          th:object="${user}"
          method="POST"
        >
          <input type="hidden" th:field="*{username}" />
          <div class="form-group">
            <label for="password">Password</label>
            <input
              class="form-control"
              type="password"
              th:field="*{password}"
              id="password"
              placeholder="Add a Password"
            />
            <div th:if="${#fields.hasErrors('password')}">
              <p th:errors="*{password}" class="error">Password Error</p>
            </div>
            <label for="repassword">Re-Password</label>
            <input
              class="form-control"
              type="password"
              th:field="*{repassword}"
              id="repassword"
              placeholder="Add a Re-Password"
            />
          </div>

          <button type="submit" class="btn btn-success">Reset</button>
        </form>
      </div>
    </div>
  </body>
</html>
